@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,900;1,100;1,300;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-de,.btn-de:active{
  background-color: #b50046;
  color: white;
  border-color: #e51162;
}
.btn-de:focus{
  box-shadow: 0 0 0 0.25rem rgb(217, 161, 192);
}.btn-de:hover{
  color: #b50046;
  background-color: white;
  border-color: #e51162;
 }
.resalted-de{
  color:#b50046;
}
